html {
  color: #fff;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0 auto;
  max-width: 1120px;
  background: linear-gradient(180deg, #000000, #00f7ff);
  background-size: 120% 120%;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 15px;
}

.cabecalho .logo {
  width: 150px;
  height: 65px;
  text-align: center;
  line-height: 55px;
  transition: 0.5s;
}

.cabecalho a:hover .logo {
  color: #38c1ac;
  transform: scale(1.1);
}

.cabecalho .menu {
  font-size: 28px;
  line-height: 55px;
  text-transform: capitalize;
  padding: 10px 20px;
  transition: 0.5s;
}

.cabecalho a:hover .menu {
  color: #38c1ac;
  transform: scale(1.1);
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: calc(100vh - 125px);
  gap: 50px;
}

.home .informacoes {
  display: flex;
  flex-direction: column;
  gap: 15px;
  letter-spacing: 2px;
  padding: 0 15px;
  max-width: 50%;
}

.home .informacoes h1 {
  font-size: 45px;
  margin-bottom: 20px;
}

.home .informacoes p {
  font-size: 24px;
  margin-bottom: 20px;
}

.home .container-foto .foto {
  max-width: 450px;
  border-radius: 50%;
}

.home .container-foto img {
  width: 100%;
  border-radius: 50%;
}

.home .foto.sombra-interna {
  background: linear-gradient(to right, #3aecec, #21830d, #0aced4);
  background-size: 180% 180%;
  animation: gradient-animation 5s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.botao-whats {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
  animation: downarrow 0.6s infinite alternate ease-in-out;
}

@-webkit-keyframes downarrow {
  0% {
    -webkit-transform: translateY(0);
    opacity: 0.4;
  }

  100% {
    -webkit-transform: translateY(0.4em);
    opacity: 0.9;
  }
}